networks:
    hadoop-spark-network:
        external: true
services:
    master:
        image: hadoop-cluster:3.4.1
        networks:
            - hadoop-spark-network
        ports:
            - "9870:9870"
            - "8088:8088"
        environment:
            - WORKLOAD=master
            - SPARK_WORKER_DIR=/opt/workspace
    worker-1:
        image: hadoop-cluster:3.4.1
        networks:
            - hadoop-spark-network
        depends_on:
            - master
        environment:
            - WORKLOAD=worker
    worker-2:
        image: hadoop-cluster:3.4.1
        networks:
            - hadoop-spark-network
        depends_on:
            - master
        environment:
            - WORKLOAD=worker
    worker-3:
        image: hadoop-cluster:3.4.1
        networks:
            - hadoop-spark-network
        depends_on:
            - master
        environment:
            - WORKLOAD=worker
